# MYSQL_ROOT_PASSWORD=rootpassword
# MYSQL_DATABASE=my_database
# MYSQL_USER=my_user
# MYSQL_PASSWORD=my_password
# MYSQL_DATA_DIR=./data/mysql
# MONGO_DATA_DIR=./data/mongodb

#MYSQL_HOST=localhost
#DOTA_CONSTANTS_HOST = localhost:3000
#MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=gg_chatalyze

STEAM_API_KEY=
OPENAI_API_KEY=
DISCORD_CLIENT_ID=
DISCORD_SERVER_ID=
DISCORD_CHANNEL_ID=



