discord.py==2.0.0
pymongo==4.5.0
requests==2.28.1
apscheduler==3.8.0
langchain==0.3.13
langchain-community==0.3.13
langchain-openai==0.2.14
faiss-cpu==1.9.0.post1
fastapi==0.115.6
uvicorn==0.34.0
mysql-connector-python==9.1.0
